<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/inicio">Inicio</a></li>
        <li> <a href="/staff">Staff</a></li>
        <li> <a href="/novedades">Novedades</a></li>
        <li> <a href="/destacados">Destacados</a></li>
      
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
