.contenedor {
    
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 200px;
    border: 2px solid black;
    margin: 250px
    
   


}



.item1 {
    background-color: red;
    margin: 0px;
    font-size: 30px;
    width: 200px;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;



}

.item2 {
    background-color: blue;
    margin: 0px;
    font-size: 30px;
    width: 200px;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    

}

.item3 {
    background-color: green;
    margin: 0px;
    font-size: 30px;
    width: 200px;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}